*,
*:before,
*:after {
  box-sizing: content-box;
}

@font-face {
  font-family: 'ethnocentricregular';
  src: url('assets/fonts/ethnocentric/ethnocentric_rg-webfont.woff2') format('woff2'),
       url('assets/fonts/ethnocentric/ethnocentric_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: ethnocentricregular;
  font-size: 18px;
  background-image: url('assets/images/spaceBackgrounds/NebulaRed.png');
  background-color: rgb(0, 0, 90);
  overflow: hidden;
}

/***************************************** Canvases and Parent Div Positioning *****************************************/

#parent-top,
#canvas1 {
  /*See https://thoughtbot.com/blog/positioning for a discussion on centering with absolute positioning*/
  position: fixed;
  right: 50%;
  margin-right: -800;
  /* CANVAS SPECIFIC SIZE - SEE <CANVAS> TAG IN HTML */
  /*notice this is half the width of the canvas*/
}

#parent-bottom,
#canvas2 {
  position: fixed;
  left: 1%;
}

#bottom-info-ui {
  position: fixed;
  left: 50%;
  margin-left: -800;
  top: 810px;
}

#parent-top,
#canvas1,
.menu {
  /* CANVAS SPECIFIC SIZE - SET <CANVAS> TAG IN HTML TO SAME SIZE */
  /* width: 1200px; when 2 player*/
  width: 1600px;
  height: 800px;
}

#canvas2 {
  /* CANVAS SPECIFIC SIZE - SET <CANVAS> TAG IN HTML TO SAME SIZE */
  width: 650px;
  height: 800px;
}

#canvas1,
#canvas2 {
  z-index: 1;
}

#parent-top,
#canvas1 {
  top: 10px;
}

#parent-bottom,
canvas2 {
  top: 10px;
  /* CANVAS SPECIFIC SIZE - SEE <CANVAS> TAG IN HTML */
  /*10 above top canvas + 10 space between canvases + 468 for top canvas height*/
}

#canvas1,
#canvas2 {
  display: none;
  border: 1px solid black;
  background-color: #cacb63;
}

/***************************************** Menu *****************************************/

.submenu {
  display: none;
}

.menu {
  border: 1px solid black;
  text-align: center;
  z-index: 3;
}

.menu,
.loader-background {
  background-image: url("assets/images/spaceBackgrounds/NebulaBlue.png");
  background-color: #000000;
  /* Used if the image is unavailable */
  height: 800px;
  /* CANVAS SPECIFIC SIZE - You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.menu h1{
  color: white;
  text-shadow: -1px -1px 0 #000;
  margin-top: 140px;
  /* CANVAS SPECIFIC MARGIN - SEE <CANVAS> TAG IN HTML */
}

.menu h2{
  color: white;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px 0px 5px 0px;
}

.button {
  display: block;
  width: 220px;
  height: 40px;
  margin: auto;
  line-height: 40px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000;
  background-color: rgb(251, 77, 24);
  background-image: linear-gradient(
    to bottom,
    rgb(87, 63, 40) 0%,
    rgb(13, 113, 179) 100%
  );
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(185, 160, 0);
  background-image: linear-gradient(
    to bottom,
    rgb(185, 160, 0) 0%,
    #fddc00 100%
  );
}

/***************************************** Loader *****************************************/
.loader-background {
  /*blur*/
  filter: blur(6px);
  border: 1px solid white;
  z-index: 3;
}

.loader-text {
  position: absolute;
  letter-spacing: 1px;
  text-shadow: 2px 2px #000000af;
  top: 65%;
  left: 50%;
  color: white;
  z-index: 4;
}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 12px solid #f3f3f3;
  border-top: 12px solid var(--loader-color);
  border-radius: 50%;
  z-index: 4;

  /*https://css-tricks.com/css-attr-function-got-nothin-custom-properties/*/
  width: var(--loader-width);
  height: var(--loader-height);

  /*https://css-tricks.com/almanac/properties/a/animation/*/
  animation-name: spin;
  animation-duration: var(--loader-spin-duration);
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: infinite;

}

/*https://css-tricks.com/almanac/properties/t/transform/*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/***************************************** UI - Toast - Intro *****************************************/

.ui-info-toast-countdown{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 4;

 /*https://css-tricks.com/almanac/properties/a/animation/*/
 animation-name: expandfade;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;          /*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
 animation-delay: 0s;
 animation-direction: normal;                     /*https://www.w3schools.com/cssref/css3_pr_animation-direction.asp*/
 animation-iteration-count: 1;
 animation-fill-mode: forwards;                   /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
}

/*https://css-tricks.com/almanac/properties/t/transform/*/
@keyframes expandfade {
 0% {
   transform: scale(3);  
   opacity: 1;
 }

 /*we could add intermediate frames with a rotation*/
 /*
 25% {
  transform: scale(3) rotate(-2deg);
}

75% {
  transform: scale(4) rotate(2deg);
}
*/

 100% {
   transform: scale(9);
   opacity: 0;
 }
}

/***************************************** UI *****************************************/

.ui-info{
  position: absolute;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 0.9em;  /*90% of the font size specified for the body tag i.e. 18pt*/
  z-index: 4;

 /*https://css-tricks.com/almanac/properties/a/animation/*/
 animation-name: fadein;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;          /*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
 animation-delay: 0s;
 animation-direction: normal;                     /*https://www.w3schools.com/cssref/css3_pr_animation-direction.asp*/
 animation-iteration-count: 1;
 animation-fill-mode: forwards;                   /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
}

/*https://css-tricks.com/almanac/properties/t/transform/*/
@keyframes fadein {
 0% { 
   opacity: 0;
 }

 100% {
   opacity: 1;
 }
}


.ui-info-pickup-value{
  position: absolute;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 0.9em;  /*90% of the font size specified for the body tag i.e. 18pt*/
  z-index: 4;

 /*https://css-tricks.com/almanac/properties/a/animation/*/
 animation-name: fade-out-and-float-up;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;          /*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
 animation-delay: 0s;
 animation-direction: normal;                     /*https://www.w3schools.com/cssref/css3_pr_animation-direction.asp*/
 animation-iteration-count: 1;
 animation-fill-mode: forwards;                   /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
}

/*https://css-tricks.com/almanac/properties/t/transform/*/
@keyframes  fade-out-and-float-up {
 0% { 
   opacity: 1;
   transform: scale(1) translate(0px, 0px);
 }

 100% {
   opacity: 0;
   transform: scale(0.2) translate(0px, -60px);
 }
}